---
import Card from "../ui/Card.astro";
import type { CaseStudy } from "../../data/case-studies";

const { study } = Astro.props;

interface Props {
  study: CaseStudy;
}
---
<Card isUnderline={true}>
  <div data-services={study.services.join(',')}>
    <article class="p-6">
      <div class="flex justify-between items-center mb-5 text-gray-500">
        <span class="bg-green text-black text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
          {study.client}
        </span>
      </div>
      <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{study.title}</h2>
      <p class="mb-5 font-light text-gray-500" style="white-space: pre-line">
        {study.description}
      </p>
      <div class="flex justify-between items-center">
        <div class="flex items-center space-x-4">
          {study.services.map(srv => (
            <span class="px-2 py-1 text-xs text-gray-500 border border-gray-200 rounded-full">
              {srv}
            </span>
          ))}
        </div>
        <a href={`/case-studies/${study.slug}`} class="inline-flex items-center font-medium text-black hover:text-green">
          Read more
          <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </article>
  </div>
</Card>